<!DOCTYPE html>
<html lang="en">
<head>
  <title>XPOZED</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="homepage.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
  .img {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>

<div class="jumbotron text-center background-image" style="margin-bottom:0">
  
  <div>
    <img class="Image" src="logo.png">

    
  </div>
  
  <h1></h1>

  <!-- <p class="WELCOME TO THE OTHERSIDE">  -->
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div>
        <img class="Image" src="second mini logo.png">
      </div>
      <!-- <a class="navbar-brand" href="#">WebSiteLogo</a> -->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="active"><a href="#">Tribe room</a></li>
        <!-- <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li> -->
        <li><a href="#"><span class="glyphicon glyphicon-log-in align-items-rightr"></span> Logout</a></li>
      </ul>
        

      
    </div>
  </div>
</nav>
.<style type="text/css">
  .html-wpsites {height:50px;background-color:#FF0000;font-family:Arial;font-size:20px;color:#000000;}
  </style>
  <marquee class="html-wpsites" direction="left" behavior="scroll" scrollamount="4" width="100%">Either HTML in a custom function or a plugin like Simple Hooks.
  </marquee>


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>This weeks forcast</h2>
      <a class="weatherwidget-io" href="https://forecast7.com/en/40d71n74d01/new-york/?unit=us" data-label_1="Portland" data-label_2="WEATHER" data-theme="blue-mountains" >Portland WEATHER</a>
      <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
      </script>

      <h5>This weeks album</h5>
      <!-- <div class="img"> Imahisge</div> -->
      <iframe src="https://open.spotify.com/embed/album/17FBoXK1NU2rvJBbzdzw0r" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    


      
      <p></p>
      <h3></h3>
      <p></p>
      <ul class="nav nav-pills nav-stacked">
        
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
      <hr class="hidden-sm hidden-md hidden-lg">
    </div>
    <div class="col-sm-8">
      <h2></p>
      <p></p>
      <br>
      <h2>TOP CHIEF</h2>
      <h5</h5>
      <div class="img"> Image</div>
      <p></p>
      <p></p>
        <h6></h6>
     

 <!-- <div class="img"> Image</div> -->


    </div>
  </div>
</div>

<!-- <div class="jumbotron text-center" style="margin-bottom:0">
  <p>Footer</p>
</div> --><footer class="page-footer font-small unique-color-dark">

        <div style="background-color: hsl(295, 83%, 53%); padding: 5px">
                <div class="container">
            
                  <!-- Grid row-->
                  <div class="row py-4 d-flex align-items-center">
            
                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                      <h6 class="mb-0"></h6>
                    </div>
                    <!-- Grid column -->
            
                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-7 text-center text-md-right">
            
                      <!-- Facebook -->
                      <a class="fb-ic">
                        <i class="fab fa-facebook-f white-text mr-4"> </i>
                      </a>
                      <!-- Twitter -->
                      <a class="tw-ic">
                        <i class="fab fa-twitter white-text mr-4"> </i>
                      </a>
                      <!-- Google +-->
                      <a class="gplus-ic">
                        <i class="fab fa-google-plus-g white-text mr-4"> </i>
                      </a>
                      <!--Linkedin -->
                      <a class="li-ic">
                        <i class="fab fa-linkedin-in white-text mr-4"> </i>
                      </a>
                      <!--Instagram-->
                      <a class="ins-ic">
                        <i class="fab fa-instagram white-text"> </i>
                      </a>
            
                    </div>
                    <!-- Grid column -->
            
                  </div>
                  <!-- Grid row-->
            
                </div>
              </div>
            
              <!-- Footer Links -->
              <div class="container text-center text-md-left mt-5">
            
                <!-- Grid row -->
                <div class="row mt-3">
            
                  <!-- Grid column -->
                  <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            
                    <!-- Content -->
                    <h6 class="text-uppercase font-weight-bold">XPOZED</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p></p>
            
                  </div>
                  <!-- Grid column -->
            
                  <!-- Grid column -->
                  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            
                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold"></h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                      <a href="#!"></a>
                    </p>
                    <p>
                      <a href="#!"></a>
                    </p>
                    <p>
                      <a href="#!"></a>
                    </p>
                    <p>
                      <a href="#!"></a>
                    </p>
            
                  </div>
                  <!-- Grid column -->
            
                  <!-- Grid column -->
                  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            
                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold"></h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                      <a href="#!"></a>
                    </p>
                    <p>
                      <a href="#!"></a>
                    </p>
                    <p>
                      <a href="#!"></a>
                    </p>
                    <p>
                      <a href="#!"></a>
                    </p>
            
                  </div>
                  <!-- Grid column -->
            
                  <!-- Grid column -->
                  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            
                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                      <i class="fas fa-home mr-3"></i> Portland, OR 97201, US</p>
                    <p>
                      <i class="fas fa-envelope mr-3"></i> help@xpozed.com</p>
                    <p>
                      <i class="fas fa-phone mr-3"></i> + 01 503 567 8811</p>
                    <p>
                      <i class="fas fa-print mr-3"></i> + 01 503 567 8911</p>
            
                  </div>
                  <!-- Grid column -->
            
                </div>
                <!-- Grid row -->
            
              </div>
              <!-- Footer Links -->
            
              <!-- Copyright -->
              <div class="footer-copyright text-center py-3">© 2019 Copyright:
                
              </div>
              <!-- Copyright -->
            
            </footer>
            <!-- Footer -->

</body>
</html>
