<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat App</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="index.js"></script>
</head>

<body>
    <div id="container">
        <div class="logo-container" style="margin-bottom:0">
            <div class="logo">
                <h1>XPOSED</h1>
                <p>WELCOME TO THE OTHERSIDE</p> 
            </div>
        </div>
        <div class="room-form">
            <!-- For each 'room' in the rooms object create a new div and join link -->
            <% rooms.forEach(function(room) { %>
                <a href="/<%= room.id%>"><%= room.name %></a>
                <br>
            <% }) %>
            <form id="room-form" action="/api/chatrooms" method="POST">
                <input name="name" type="text" required>
                <button type="submit">New Room</button>
            </form>
        </div>
    </div>
   

<h1>Login</h1>
<%- message %>
<form method="post" action="/api/login">
  <p>
    <label>Username:</label>
    <input type="text" name="username">
  </p>
  <p>
    <label>Password:</label>
    <input type="text" name="password">
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
</form>


</body>
</html>