<div id="container">
    <div id="namesWrapper">
        <h2>Welcome to our Chatroom</h2>
        <p>Create Username:</p>
        <form id="usernameForm">
            <input type="text" size="35" id="username">
            <input type="submit" value="Submit">
        </form>
    </div>

    <div id="mainWrapper">
        <h2>Chat</h2>
        <div id="chatWrapper">
            <div id="chatWindow"></div>
                <form id="messageForm">
                <input type="text" size="35" id="message">
                <input type="submit" value="Submit">
            </form>
        </div>

        <div id="userWrapper">
            <div id="users"></div>
        </div>

    </div>
</div>