* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

#container {
  width: 100%;
  margin: 0 auto;
}

/******************LOGIN PAGE*************************/

.login-form {
  margin-top: 25px;
  text-align: center;
}

#login-header {
  color: #FFF;
  margin-top: 40px;
  text-align: center;
}

/****************MAIN PAGE*******************/

.logo-container {
  background: url("../images/background.jpg");
  background-position: center;
  object-fit: fill;
  background-size: auto; 
  background-color: #e3e3e3;
  height: 200px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.logo {
  background: url("../images/background-font.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 120px;
  margin: 0;
  padding-top: 70px;
  text-align: center;
}

.room-form {
  display: block;
  line-height: 1.5;
  text-align: center;
  width: 100%;
}

.room-form a {
  color: salmon;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  text-decoration: none;
  margin: 20px 0;
}

#room-form {
  margin: 30px 0;
  text-align: center;
}

#room-form input {
  width: 30%;
  height: 30px;
}

#room-form button {
  height: 30px;
  background-color: mediumpurple;
  border: none;
  border-radius: 10px;
  padding: 5px;
}

.otherside {
  color: salmon;
  font-size: 50px;
  font-family: 'Waiting for the Sunrise', cursive;
  font-weight: bolder;
  transform:rotate(-180deg);
  direction: rtl;
  unicode-bidi: bidi-override; 
  margin-top: 20px;
  text-align: center;
}

.otherside:hover {
  transform:rotate(0deg);
  direction: ltr;
  unicode-bidi: normal;
}

/*****************************************CHAT ROOM*********************************************/

#chatroom-bar {
  text-align: center;
}

#room-container {
  padding-top: 5px;
  display: block;
}

#room-container div {
  padding-bottom: 5px;
}

#room-container a {
  padding-bottom: 5px;
}

#post-container {
  width: 70%;
}

#display-posts {
  margin-top: 100px;
}

#display-posts div {
  border: 1px solid #000;
  padding: 20px;
  margin-bottom: 50px;
}

#message-container {
  background-color: #e3e3e3;
  margin-top: 30px;
  height: 630px;
  overflow: scroll;
  width: 70%;
  max-width: 1000px;
  overflow-x: hidden;
}

#message-container div {
  background-color: #FFFF9F;
  box-sizing: border-box;
  clear: both;
  display: block;
  float: right;
  margin-top: 5px;
  padding: 10px 0 10px 10px;
  width: 100%;
}

#message-container div:nth-child(2n) {
  background-color: #FFC7AB;
  clear: both;
  display: block;
  float: right;
  margin-bottom: 5px;
  padding: 10px;
  width: 100%;
}

#send-container {
  position: fixed;
  margin-bottom: 25px;
  bottom: 0;
  background-color: white;
  max-width: 1000px;
  width: 70%;
  display: flex;
}

#message-input {
  flex-grow: 1;
}